<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Page</title>
  </head>
  <body>
    <!-- <h1>About Page Here</h1> -->    
    {{> header}}
    <p>
      What we're all about ... ha!
    </p>
    <footer>
      {{> footer}}
    </footer>
  </body>
</html>
