<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home Base Page</title>
  </head>
  <body>
    <!-- <h1>About Page Here</h1> -->
    {{> header}}

    <!-- <h2>{{pageMessage}}</h2> -->
    <h2>{{screamIt pageMessage}}</h2>

    {{> footer}}

  </body>
</html>
